# contributor: Ioannis Canellos <iocanel@gmail.com>
# name: Kubernetes Namespace
# key: namespace
# --
kind: "Namespace"
metadata:
  labels:
    app: ${1:`((project-name (project-current)))`}
    version: "${2:`(idee/project-version-get)`}"
  name: "$1"